@CHARSET "UTF-8";

html {
	font-family: cursive;
	font-size: 12px;
}


container {
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}

.cabecalho {
	padding: 10px;
	background: #746F6F;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	
}

table {
	border-spacing: 1;
	border-collapse: collapse;
}

.table {
	border-collapse: collapse !important;
}

.btn {
	padding: 2px;
	font-size: 14px;
	color: #fff;
	background-color: #BABABA;
	border-color: #E6E2E2;
	border-radius: 10px;
}

.btnnovo {
	background-color: #0EBB31;
	padding: 2px;
	font-size: 14px;
	color: #fff;
	border-color: #E6E2E2;
	border-radius: 5px;
}

.btnconsulta {
	background-color: #F5A40C;
	padding: 2px;
	font-size: 14px;
	color: #fff;
	border-color: #E6E2E2;
	border-radius: 5px;
}