@CHARSET "UTF-8";

.content {
	margin: 0 auto;
	width: 600px;
	font-family: cursive;
	font-size: 14px;
}

.campo {
	background-color: #CCCCCC;
	padding: 8px;
	border-style: double;
	border-color: #999999;
}

.campo:focus {
	background-color: #999999;
	border-style: double;
}

.submit {
	padding: 10px;
	background-color: #FF6600;
	color: #FFCCFF;
}